figure {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background: lightblue;
}

#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img {
    width: 100%;
}

h3 {
    text-align: center;
}